<div class="row" style="padding-bottom: 30px;">
    <section class="col-md-12 col-lg-12 col-sm-12 col-xs-12 media-row" style="padding: 0 30px;">
     <div class="row">
       <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 65px;">
           <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 10px;background-color: white;border-color: #ccc;border-style: solid;border-width: 1px;">
             <h1>{{ title }}</h1>
             <hr>
              {{ kontent }}
              <p>Размещено {{ date | format('d.m.Y') }}</p>
           </div>
        </div>
     </div>
    </section>
 </div>